name: Python CI with Docker

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t python-ci-cd .

      - name: Run tests
        run: docker run python-ci-cd pytest
